.container{
    width:  90vw;
    margin:  auto;

    height: 80vh;
    border: 1px solid rgb(169, 163, 163);
    position : relative;
    
}


.cbutton{
    position: absolute;
    bottom: 10px;
    right: 10px;

    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: gradient(to right, #30CFD0 0%, #330867 100%);
    font-weight: bolder;
   
}
.logo {
  font-size: 30px;       /* adjust size as needed */
  font-weight: 700;      /* bold clean look */
  background: linear-gradient(90deg, #2da8ff, #7a5bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for non-webkit browsers */
  text-fill-color: transparent;
  font-family: 'Inter', sans-serif; /* optional */
  font-style: italic;
  margin-left: 20px;
}



